.HomePage{
    border: 4px solid blue;
    text-align: center;

}

.HomePage .SkillsLink{
    background-color: red;
    display: block;
    list-style: none; /*removes the bullet point*/
    text-decoration: none; /*gets rid of the underline*/
    font-size: 28px;

    font-family: 'Koulen', cursive;

}

.HomePage .PortfolioImage{
    margin-left: auto;
    margin-right: auto;
    display: block;
  
}

.HomePage .Name{
   background-color: aquamarine;
    display: inline;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;

}

.HomePage .InterestsLink{
    background-color: blueviolet;
    list-style: none; /*removes the bullet point*/
    text-decoration: none; /*gets rid of the underline*/
    font-size: 28px;

    /*For whatever reason if we do this it will show the Link correcly inline*/
    display: inline-block;

    
    
    font-family: 'Koulen', cursive;
}

.HomePage .ProjectsLink{
    background-color: palegreen;
    display: inline-block;
    list-style: none; /*removes the bullet point*/
    text-decoration: none; /*gets rid of the underline*/
    font-size: 28px;


    font-family: 'Koulen', cursive;
}

.HomePage .EducationLink{
    background-color: aqua;
    display: block;
    list-style: none; /*removes the bullet point*/
    text-decoration: none; /*gets rid of the underline*/
    font-size: 28px;

    font-family: 'Koulen', cursive;
}

.HomePage .About {
    display: block;
    font-family: 'Montserrat', sans-serif;

}

/* FONTS
font-family: 'Bebas Neue', cursive;
font-family: 'Heebo', sans-serif;
font-family: 'Koulen', cursive;
font-family: 'Montserrat', sans-serif;
*/